
<!-- ========================= FOOTER ========================= -->

<!-- </footer> 

<!-- ========================= FOOTER END // ========================= --> 
<!-- 
<footer class="text-center footer text-lg-start bg-light text-muted">
	<!-- Section: Social media -->
	 

	<!-- Section: Social media -->
  
	<!-- Section: Links  -->
	
	<!-- Section: Links  -->
  
	<!-- Copyright -->
	
	  <!-- © 2021 Copyright:
	  <a class="text-reset fw-bold" href="">@ticker</a>
	
	<!-- Copyright -->
  <!-- </footer> -->

  <!-- <style>
	.footer {
		position: absolute;
		padding: 10px 10px 0px 10px;
		bottom: 0;
		width: 100%;
		/* Height of the footer*/ 
		height: 40px;
		background: grey;
	}
  </style> --> 
  <!-- Footer -->