{% load static %}
<header class="section-header">
    <section class="header-main border-bottom">
    <div class="container">
<div class="row align-items-center">
    <div class="col-lg-2 col-md-3 col-6">
        <a href="{% url 'home' %}" class="brand-wrap">
            <img class="logo" src=" {% static 'images/logo.png' %}" >
    </a>
    </div>
    <div class="col-lg col-sm col-md col-6 flex-grow-0 ">
        <div class="category-wrap dropdown d-inline-block float-right " >
            <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown" > 
                <i class="fa fa-bars"></i> All category 
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'store' %}">All categories</a>
                {% for category in links %}
                <a class="dropdown-item" href="{{category.get_url}}">{{category.category_name}} </a>
                {% endfor %}
            </div>
        </div>  
    </div> 

    
    
 
    <div class="col-lg  col-md-6 col-sm-12 col">
        <form action="{% url 'search' %}" class="search" method="GET">
            <div class="input-group w-100">
                <input type="text" class="form-control" style="width:60%;" placeholder="Search" name='keyword'>
                
                <div class="input-group-append">
                  <button class="btn btn-dark" type="submit">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
            </div>
        </form> <!-- search-wrap .end// -->
    </div> 

  


 {% if user.is_authenticated%}
    <div class="col-lg-3 col-sm-6 col-8 order-2 order-lg-3">
        <div class="d-flex justify-content-end mb-3 mb-lg-0">
            <div >
                
                <small class="title text-muted">Welcome {{user.first_name}}!</small>
                <a href="{% url 'user_profile' user.id %}"><h6 class="title text-muted">Account</h6> <span class="dark-transp"></span></a>
            
            <a href="{% url 'user_logout' %}" class="btn btn-dark text-white btn-sm">logout</a>
        
            </div>
            
            <!-- <a href="./cart.html" class="widget-header pl-3 ml-3"> -->
                <div class="">
    

                <a href="{% url 'cart' %}" class="icon icon-sm rounded-circle border ml-5 "><i class="fa fa-shopping-cart  text-dark"></i>
           
               
                <span class="badge badge-pill badge-danger notify">{{cart_count}} </span>
            </a>
        </div> <!-- widgets-wrap.// -->
    </div> <!-- col.// -->
    {%else%}
        <div class="col-lg-3 col-sm-6 col-8 order-2 order-lg-3">
                <div class="d-flex justify-content-end mb-3 mb-lg-0">
                    <div class="widget-header">
                        <small class="title text-muted">Welcome guest!</small>
                        <div> 
                            <a href="{% url 'user_login' %}">Sign in</a> <span class="dark-transp"> | </span>
                            <a href="{% url 'user_register' %}"> Register</a>
                        </div>
                    </div>
                    <a href="{% url 'cart' %}" class="widget-header pl-3 ml-3">
                        <div class="icon icon-sm rounded-circle border"><i class="fa fa-shopping-cart"></i></div>
                        <span class="badge badge-pill badge-danger notify">{{cart_count}} </span>
                    </a>
                </div> <!-- widgets-wrap.// -->
            </div> <!-- col.// -->
            
            {% endif %}

            
</div> <!-- row.// -->
    </div> <!-- container.// -->
</section> <!-- header-main .// -->




</header> <!-- section-header.// -->
