{% extends 'admin/admin_base.html' %}
{% load static%}

{% block contend %}


<h3 class="text-center" style="color: rgb(70, 159, 241);">Coupon Managment</h3>
<div class="table-responsive">


  <input type="text" id="searchbox" style="width: 20rem;" placeholder="search coupon name..." class="my-2"
    onkeyup="searchrecords()">



  
  <a href="{% url 'create_coupon' %}" class="float-right mr-3 mt-1"> <i class="material-icons">&#xE147;</i><span>Add Coupons</span></a>
  <table class="table align-items-center table-flush" id=table1>
    <thead class="thead-dark">
      <tr>
        <th style="color: white;" scope="col" class="sort" data-sort="name">Coupon Name</th>
        <th style="color: white;" scope="col" class="sort" data-sort="name">Off Percentage</th>
        <th style="color: white;" scope="col" class="sort" data-sort="budget">Valid From</th>
        <th style="color: white;" scope="col" class="sort" data-sort="status">Valid Upto</th>
        
        <th style="color: white;" scope="col" class="sort" data-sort="completion">Actions</th>
       
      </tr>
    </thead>
    {% for prod in coupons%}
    <tbody class="list">
      <tr>
        <td scope="row">
          <div class="media align-items-center">

            <div class="media-body">
              <span class="name mb-0 text-sm">{{prod.coupon_name}}</span>
            </div>
          </div>
        </td>
        <td scope="row">
          <div class="media align-items-center">

            <div class="media-body">
              <span class="name mb-0 text-sm">{{prod.off_price}}</span>
            </div>
          </div>
        </td>
        <td class="media-body">
          <span class="name mb-0 text-sm">{{prod.valid_from}}</span>
        </td>
        <td>
          <span class="badge badge-dot mr-4">

            <span class="status">{{prod.valid_upto}}</span>
          </span>
        </td>
        
        <td>
        
           
            <a href="{% url 'del_coupon' prod.id%}"
              onclick="return confirm('Are you sure you want to Remove?');">Remove</a>
            


          
        </td>

      </tr>
    </tbody>
    {% endfor %}
  </table>
</div>
</div>

<div class="mr-5 mt-4  float-right">

</div>


<script type="text/javascript">

  function searchrecords() {
    var input, table, tr, td, filter, i, txtdata;
    input = document.getElementById('searchbox');
    filter = input.value.toUpperCase();
    table = document.getElementById('table1');
    tr = document.getElementsByTagName('tr');
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0];
      if (td) {
        txtdata = td.innerText;
        if (txtdata.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        }
        else {
          tr[i].style.display = "none";
        }
      }
    }
  }

</script>

{% endblock %}